---
- name: Standardize Cluster Repositories for System Harmony
  hosts: pve_cluster
  become: yes
  tasks:
    - name: 1. Clean and Set Primary Sources
      copy:
        dest: /etc/apt/sources.list
        content: |
          deb http://ftp.debian.org/debian bookworm main contrib non-free-firmware
          deb http://ftp.debian.org/debian bookworm-updates main contrib
          deb http://security.debian.org/debian-security bookworm-security main contrib
          
          # Proxmox No-Subscription Repository
          deb http://download.proxmox.com/debian/pve bookworm pve-no-subscription

    - name: 2. Purge conflicting .list files
      file:
        path: "/etc/apt/sources.list.d/{{ item }}"
        state: absent
      loop:
        - pve-enterprise.list
        - pve-install-repo.list
        - pve-install-repo.list.list

    - name: 3. Update Package Cache
      apt:
        update_cache: yes