---
- name: Emergency Repository Recovery
  hosts: pve_cluster
  become: yes
  tasks:
    - name: Purge all existing apt source files to stop duplicates
      shell: "rm -rf /etc/apt/sources.list.d/* && truncate -s 0 /etc/apt/sources.list"

    - name: Write Stable Debian & Proxmox Sources
      copy:
        dest: /etc/apt/sources.list
        content: |
          deb http://ftp.debian.org/debian bookworm main contrib non-free-remote
          deb http://ftp.debian.org/debian bookworm-updates main contrib
          deb http://security.debian.org/debian-security bookworm-security main contrib
          
          # Trusted No-Subscription Proxmox
          deb [trusted=yes] http://download.proxmox.com/debian/pve bookworm pve-no-subscription
          
          # Trusted Ceph Reef
          deb [trusted=yes] http://download.proxmox.com/debian/ceph-reef bookworm no-subscription

    - name: Fix Proxmox 'Enterprise' prompt in JavaScript
      lineinfile:
        path: /usr/share/javascript/proxmox-widget-toolkit/proxmoxlib.js
        regexp: 'if \(res.data.status.toLowerCase\(\) !== .active.\) \{'
        line: 'if (false) {'
        state: present